@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");

:root {
  --clr-neon: #fff;
  --clr-bg: #000;
  --drk-clr-neon: rgb(48, 151, 199);
  --drk-clr-bg: #fff;
}

.neon-button {
  transform: scale(0.7);
  font-size: 3rem;
  color: var(--clr-neon);
  font-family: "Kanit", sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 4em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  transition: all 500ms linear;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  background-color: var(--clr-neon);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.dark-neon-button {
  transform: scale(0.7);
  font-size: 3rem;
  color: var(--drk-clr-neon);
  font-family: "Kanit", sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--drk-clr-neon) 0.125em solid;
  padding: 0.25em 4em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--drk-clr-neon),
    0 0 0.5em 0 var(--drk-clr-neon);
  position: relative;
  transition: all 500ms linear;
}

.dark-neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--drk-clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.dark-neon-button:hover,
.dark-neon-button:focus {
  background: var(--drk-clr-neon);
  color: var(--drk-clr-bg);
  text-shadow: none;
}

.dark-neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em var(--drk-clr-neon);
  background-color: var(--drk-clr-neon);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.dark-neon-button:hover::before,
.dark-neon-button:focus::before {
  opacity: 1;
}
.dark-neon-button:hover::after,
.dark-neon-button:focus::after {
  opacity: 1;
}
